<div class="confirmation">
  <div class="confirmation__items">
    <div class="confirmation__title fw-bold fs-1">
      Success! <i class="bi bi-stars"></i>
    </div>
    <div class="confirmation__item mt-4">
      Thank you, <b>{{ firstName }}</b>
    </div>
    <div class="confirmation__item">
      Your <b>${{ totalPrice }}</b> order is confirmed!
    </div>
    <div class="confirmation__item">
      Please allow 1-3 business day(s) for shipping.
    </div>
    <div class="confirmation__item">
      <a routerLink="/">
        <i class="bi bi-arrow-left-circle"></i> Return to product list
      </a>
    </div>
  </div>
</div>
