
.header .icon{
  font-size: 25px;
  font-weight: bold;
}
/*.header .header__title{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.header .header__menu {
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
}

a:first-child {
  text-align: center;
  padding: 0 10px;
  margin-right: 5px;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px solid #ffffff;
}
a:nth-child(2) {
  text-align: center;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
*/
